ADMIN_SECRET_KEY=S...
USER_SECRET_KEY=S...
USER2_SECRET_KEY=S...
USER3_SECRET_KEY=S...

MARKET_CONTRACT_ID=CBUJRAY7NYQYMMDETQOB4CG2RIYBCYOJEG5DPP2PGXP5RFOO5KBIPYKL
COMMIT_VERIFIER_ID=CDY7XWLLXH3GGDDNQWVU4LGBGUQWXDIQMY26NTXFH42B5H4HLANQOSLS
TALLY_UPDATE_VERIFIER_ID=C...
TALLY_FINALIZE_VERIFIER_ID=C...
CLAIM_VERIFIER_ID=CDTMHPPYBFQOVYIEDUJBNUKMLBPNII4LYDIYIIRKKDJIBTVHSPYZNZ34
USDC_TOKEN_ID=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA
USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5
REFLECTOR_ID=CCYOZJCOPG34LLQQ7N24YXBM7LL62R7ONMZ3G6WZAAYPB5OYKOMJRN63

STELLAR_RPC=https://soroban-testnet.stellar.org
STELLAR_NETWORK="Test SDF Network ; September 2015"
NEXT_PUBLIC_PROFILE_API_URL=http://localhost:4001
PROFILE_BACKEND_URL=http://localhost:4001
